stages:
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  CI: "true"
  HEADLESS_MODE: "true"
  TEST_BASE_URL: "https://gamma.hi-tech.org"
  TEST_USER_EMAIL: "v.kornienko@iva.ru"

cache:
  paths:
    - .cache/pip

full_e2e_tests:
  stage: test
  image: mcr.microsoft.com/playwright/python:v1.51.0-jammy
  tags:
    - docker_last
  before_script:
    - pip install -r requirements.txt
    - export TEST_USER_PASSWORD="${TEST_USER_PASSWORD}"
    - echo "${TEST_USER_PASSWORD}" > last_generated_password.txt
  script:
    - pytest -v --headless --junitxml=report.xml
  after_script:
    - echo "Tests finished"
  artifacts:
    when: always
    reports:
      junit: report.xml
    paths:
      - report.xml
      - last_generated_password.txt