stages:
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  CHROME_BIN: "/usr/bin/chromium"
  CHROMEDRIVER_PATH: "/usr/bin/chromedriver"
  CI: "true"
  TEST_BASE_URL: "https://gamma.hi-tech.org"
  HEADLESS_MODE: "true"
  BROWSER: "chrome"
  TEST_USER_EMAIL: "v.kornienko@iva.ru"

cache:
  paths:
    - .cache/pip

full_e2e_tests:
  stage: test
  image: python:3.11-slim
  tags:
    - docker_last
  before_script:
    - apt-get update
    - apt-get install -y chromium chromium-driver
    - pip install -r requirements.txt
    - export TEST_USER_PASSWORD="${TEST_USER_PASSWORD}"
    - echo "${TEST_USER_PASSWORD}" > last_generated_password.txt
  script:
    - pytest -v --headless --junitxml=report.xml
  after_script:
    - echo "Tests finished"
  artifacts:
    when: always
    reports:
      junit: report.xml
    paths:
      - report.xml
      - last_generated_password.txt