stages:
  - test
  - report

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  ALLURE_RESULTS_DIR: "allure-results"

cache:
  paths:
    - .cache/pip

ui_tests:
  stage: test
  image: python:3.11-slim
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends chromium chromium-driver
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - pytest -v --headless --alluredir="$ALLURE_RESULTS_DIR"
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - "$ALLURE_RESULTS_DIR"

allure_testops_upload:
  stage: report
  image: alpine:3.20
  needs:
    - job: ui_tests
      artifacts: true
  rules:
    - if: '$ALLURE_ENDPOINT != "allure.iva.ru" && $ALLURE_TOKEN != "7a558d43-2e06-4205-94e2-2d16ab841c0c" && $ALLURE_PROJECT_ID != "https://allure.iva.ru/project/32/launches"'
      when: on_success
    - when: never
  script:
    - apk add --no-cache curl
    - curl -fsSL -o /usr/local/bin/allurectl "https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64"
    - chmod +x /usr/local/bin/allurectl
    - allurectl upload "$ALLURE_RESULTS_DIR"